<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Monster</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <ul><%= monsters.name; %>
            <li>AC: <%= monsters.ac; %></li>
            <li>HP: <%= monsters.hp; %></li>
            <li>Att: <%= monsters.att; %></li>
            <li>Dmg: <%= monsters.dmg; %></li>
        </ul>
        <a href="/monsters">back</a> 
        <a href="/monsters/<%=index%>/edit">edit</a>
        <a href="/monsters/<%=index%>?_method=DELETE">
        <br>
        <form method="POST" action="/monsters/<%=index%>?_method=DELETE">
            <button type="submit">Delete</button>
        </form>
    </body>
</html>